/* Estilos gerais */
html {
    scroll-padding-top: 80px; /* Ajuste conforme a altura do seu header */
    scroll-behavior: smooth; /* Suaviza a rolagem */
}

body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    background-color: #F8F4E3;
    color: #072320;
}

/* Cabeçalho */
header {
    background-color: #072320;
    color: white;
    padding: 18px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header .logo {
    max-height: 70px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #F8F4E3;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #F8F4E3;
}

/* Seções */
section {
    font-family: 'Montserrat', sans-serif;
    padding: 80px 20px;
    max-width: 1000px;
    margin: 15px auto 0;
    text-align: center;
}

h2 {
    color: #072320;
    border-bottom: 3px solid #072320;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-weight: 300;
}

.logo-geral img {
    max-width: 1000px; /* Define a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
    display: block;
    margin: 20px auto; /* Centraliza a imagem */
}

/* Lista de Áreas de Atuação */
#areas-atuacao ul {
    list-style-type: none;
    padding: 0;
}

#areas-atuacao ul li {
    background-color: #072320;
    padding: 12px;
    margin: 6px 0;
    border-radius: 5px;
    color: #F8F4E3;
    font-weight: bold;
}

/* Contato */
.contato a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: #F8F4E3;
    background-color: #072320;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.contato a i {
    margin-right: 8px;
}

.contato a:hover {
    background-color: #072320;
}

/* Ajustes na seção Sobre Nós */
#sobre-nos {
    text-align: center; /* Centraliza o texto */
    max-width: 800px; /* Define uma largura máxima para evitar que o texto fique muito espalhado */
    margin: 0 auto; /* Centraliza a seção na página */
    padding: 40px 20px; /* Adiciona um espaçamento interno para melhor leitura */
}

#sobre-nos h2 {
    font-size: 2rem; /* Ajusta o tamanho do título */
    margin-bottom: 20px; /* Dá um espaço entre o título e o primeiro parágrafo */
}

#sobre-nos p {
    font-size: 1.1rem; /* Define um tamanho confortável para o texto */
    line-height: 1.5; /* Aumenta o espaçamento entre as linhas para melhor legibilidade */
    text-align: justify;
    text-indent: 40px;
}